@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&display=swap");
@keyframes vibrate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*  Elements */
html,
body {
  font-family: audiowide;
  background-color: #99c6ff;
  margin: 0px;
  font-weight: 100;
  padding-bottom: 0px;
  height: 95%;
  width: 100%;
  /* overflow: hidden; */
}
.shoot {
  animation: vibrate 1s;
  animation-fill-mode: forwards;
}
h1 {
  font-size: 48px;
  text-align: center;
}

/*  Classes */
/* .image-holder{} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: #add1ff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.choices {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  position: relative;
  top: 60%;
}
.hidden {
  display: none;
}
.hide {
  opacity: 0;
}
.starter-image {
  width: 25%;
  margin: 0 auto;
  display: block;
  margin-bottom: 36px;
}
.smaller-img {
  position: absolute;
  width: 200px;
  display: auto;
}
.header {
  position: absolute;
  display: flex;
  left: 2.5%;

  justify-content: space-between;
  top: 12px;
  width: 95%;
  position: absolute;
  margin: auto;
}

.button {
  background-color: #66aaff;
  font-family: inherit;
  font-size: 28px;
  padding-left: 42px;
  padding-right: 42px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
}
.button:active {
  position: relative;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #66aaff;
}

.players {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  font-size: 30px;
  width: 95%;
}

.title {
  top: 36px;
  position: relative;
}
.selection {
  font-size: 46px;
  justify-content: center;
}
/*  IDs */
#intro {
  top: 25%;
  position: relative;
}
#restart {
  font-family: inherit;
  font-size: 28px;
  background-color: #66aaff;
  padding-left: 42px;
  padding-right: 42px;
  border: none;
  position: relative;
}
#closeout {
  float: right;
  top: 0px;
  background-color: #add1ff;
}

#rules {
  font-family: inherit;
  font-size: 28px;
  background-color: #66aaff;
  padding-left: 42px;
  padding-right: 42px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
#paper {
  margin-left: 24px;
  margin-right: 24px;
}

#point-player {
  bottom: 15%;
  right: 34%;
  display: auto;
}
#point {
  bottom: 15%;
  right: 31%;
  display: auto;
}
#draw {
  bottom: 15%;
  right: 38%;
  display: auto;
}
#win {
  left: 40%;
  top: 30%;
  display: auto;
}
#promo {
  left: 31.5%;
  top: 60%;
  position: relative;
  text-align: center;

  margin-bottom: 150px;
}

/* HOLDERS */

#point-player {
  bottom: 15%;
  right: 34%;
  display: auto;
}
#point {
  bottom: 15%;
  right: 31%;
  display: auto;
}
#draw {
  bottom: 15%;
  right: 38%;
  display: auto;
}
#player--1-side {
  position: absolute;
  top: 33%;
  right: 5%;
  display: auto;
}

#txt {
  text-transform: capitalize;
}
#player--0-side {
  position: absolute;
  top: 33%;
  left: 3%;
  display: auto;
}

.holders {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
}
.score-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 42px;
}
.score-header {
  justify-content: space-between;
  display: flex;
  font-size: 30px;
  margin: auto;
  bottom: 180px;
  padding-bottom: 0px;
}
#player--0,
#player--1 {
  margin-top: -15%;
}
